In [1]:
l1=[1,2,3,4]

In [2]:
l1

[1, 2, 3, 4]

In [3]:
type(l1)

list

In [4]:
l1[1:2]

[2]

In [2]:
l1=(['apple','orange','grapes','cheerry'])

In [3]:
l1[1:2]=['pineapple','melon']

In [1]:
l1

NameError: name 'l1' is not defined

In [8]:
thislist=['apple','grapes','melon']
thislist.insert(2,"watermelon")
thislist

['apple', 'grapes', 'watermelon', 'melon']

In [9]:
list1=['hello world']
list1.append("for me")
list1

['hello world', 'for me']

In [10]:
list1=['ihsan']
list1.reverse()
list1

['ihsan']

In [11]:
thislist=["apple",'grapes']
y=[print(x) for x in thislist]
print (y)

apple
grapes
[None, None]

In [12]:
tupl=("apple","banana","grapes")
print(len(tupl))
tupl

3

('apple', 'banana', 'grapes')

In [13]:
t=('apple',)
t

('apple',)

In [14]:
tupl=(("apple","grapes"))
print(tupl)

('apple', 'grapes')

In [15]:
tupl=("appple",'grapes','car',"true")
tupl[2]

'car'

In [16]:
tupl=("appple",'grapes','car',"true")
tupl[-2]
# -2 sshow 2nd last item

'car'

In [17]:
tupl=("apple","grapes","ihsan","noman","imad")
tupl[1:3]

('grapes', 'ihsan')

In [18]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

In [19]:
thistuple= ("apple", "banana", "grapes")
if "banana" in thistuple:
    print("ys, 'car' is in fruits tuple")

ys, 'car' is in fruits tuple

In [20]:
thistupl=("ihsan", "noman", "imad")
if "ihsan" in thistupl:
    print("yes, 'ihsan is in thistupl")

yes, 'ihsan is in thistupl

In [21]:
# we can't change tupl value ist we convert into list
x=("babar","ridwan","fakhar")
y=list(x)
y[2]="haris"
x=tuple(y)
print(x)

('babar', 'ridwan', 'haris')

In [22]:
x=("ihsan","khan","bangash")
y=list(x)
y[1]="mehmood"
x=tuple(y)
x

('ihsan', 'mehmood', 'bangash')

In [23]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [24]:
x=("ihsan","mehmood")
y=("hangu",)
x +=y
x

('ihsan', 'mehmood', 'hangu')

In [25]:
# remove items
x=("python", "java", "c++")
y= list(x)
y.remove("java")
x=tuple(y)

In [26]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

In [27]:
# delete in tupl
x=(1,2,3,4)
del(x)

In [28]:
tupl=(1,2,3,4)
del(tupl)

In [29]:
#Example
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [30]:
tupl=("car","bike")
(green,yellow )= tupl
print(car)
print(bike)

NameError: name 'car' is not defined

In [ ]:
#Example
#Iterate through the items and print the values:

thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

In [ ]:
#Example
#Print all items, using a while loop to go through all the index numbers:

thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

In [ ]:
#Set
#Sets are used to store multiple items in a single variable.
#Example
#Duplicate values will be ignored:

thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

In [ ]:
s={1,2,3,4,5}
len(s)

In [ ]:

#Check if "banana" is present in the set:

thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

In [ ]:
s={"ihsan","mehran"}
print("khan" in s)

In [ ]:
thisset = {"apple", "banana", "cherry"}
s.add("grapes")

In [ ]:
s={"1,2,3,4"}
s.add(5)
s

In [ ]:
#strin#

In [ ]:
x="hello world"
x[2]

In [ ]:
len(x)

In [ ]:
x[-3]

In [ ]:
x[:2]# show first two value

In [ ]:
x[:-3]#ewmove element from last

In [ ]:
 x+  "how are you" # join

In [ ]:
s="ihsan"
s+"  mehmood !"

In [ ]:
#We can use the multiplication symbol to create repetition!

In [ ]:
x="ihsan"
x * 3

In [ ]:
x=2+3

In [ ]:
x

In [ ]:
x="1"+"4" #join number
x

In [ ]:
# Upper Case a string

In [ ]:
x="data science"
x.upper()

In [ ]:
x.lower()

In [ ]:
x="4"+"7"
x

In [ ]:
x="ihsanmehmood"
x.upper()

In [ ]:
x.lower()

In [ ]:
#Insert another string with curly brackets: {}'.format('The inserted string')

In [ ]:
print("the {}{}{}".format(" ihsan",' khan',' bangash'))

In [ ]:
print("i love {2}{1}{0}".format(" A"," R"," M"))

In [ ]:
#list# we can store differ value

In [ ]:
list=[1,2,3,4,5,6]
list

In [ ]:
type(list)

In [ ]:
list=["apple",1,2,3,"ihsan",3.14]
list

In [ ]:
list[1]

In [ ]:
list[:1]

In [ ]:
list[-1]

In [ ]:
list[1:]

In [ ]:
list=[1,2,3,4]
list+[7,6]

In [ ]:
list*2 #repeating

In [ ]:
li=["ihsan"]
li.append("mehmood")
li

In [ ]:
l1=[1,2,3,4,5]
l1.pop(3)

In [ ]:
li=[1,2,3,4,8,6,5,5]
l1.sort()
li

In [ ]:
#nested list is used for data structure

In [ ]:
l1=[1,2,3]
l2=[4,5,6]
l3=[7,8,9]
matrix=[l1,l2,l3]
matrix

In [ ]:
l1=[1,2,3]
matrix=[l1]
matrix[0][1]

In [ ]:
li=["ihsan","khan",]
"ali" in li

In [ ]:
color_names = ['orange','blue','green']
color_names.insert(1,'red')
color_names

In [ ]:
list1=[x**3 for x in range(10)]   # all element is mul by 3
print(list1)

In [ ]:
numbers=list(range(10))
for value in (x ** 2 for x in numbers if x % 2 != 0):
    print(value, end=' ')

In [ ]:
numbers=(list(range(20)))
for value in(x**2 for x in numbers if x%2==0):
    print(value,end="    ")

In [ ]:
# Make a dictionary with {}

In [ ]:
dic={1,2,3,4}
dic

In [ ]:
dic={"key1":123, "key2":[1,2,3]}
dic

In [ ]:
dic1={"name1":"ihsan","name2":"mehmood"}
dic1["name1"]

In [ ]:
uet_fees={"cs":82000,"ds":98000}
uet_fees["ds"]

In [ ]:
price_range={'orange':40,'banana':70}
price_range["orange"]

In [ ]:
days_per_month = {'January':31,'Feburary':28,'March':30}
for month,days in days_per_month.items():
    print(f'{month} has {days} days')

In [ ]:
days_per_month= {'april':29,'may':30,'june':31}
days_per_month["april"]

In [ ]:
days_per_month= {'april':29,'may':30,'june':31}
for month,days in days_per_month.items():
    print(f'{month} has {days} days')

In [ ]:
price_quality={"apple":{"pakistan":120,'swat':130}, "orange":{"hangu":160,"mardan":200}}
price_quality["orange"]["hangu"]

In [ ]:
# Set the object equal to itself minus 123 
my_dict=['key1'] -= 123
my_dict['key1']

In [ ]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
}

In [ ]:
car.clear()
print(car)

In [ ]:
#copy method retuen all value again
car = {
  "brand": "Ford",
  "model": "japan",
  "year": 1964
}

x = car.copy()

print(x)

In [ ]:
# pic specific value with the help of get
car = {
  "brand": "Ford",
  "model": "japan",
  "year": 1964
}

x = car.get("model")

print(x)

In [ ]:
#if statment#

In [ ]:
b=34
a=12
if a>b:

In [ ]:
a=20

b=200

if b>a:

print(“b is greater than a”)

In [ ]:
#numpy

In [ ]:
import numpy as np

In [ ]:
x=[1,2,3],[4,5,6]

In [ ]:
x

In [ ]:
np.array(x)

np.array[1][2]

In [ ]:
import numpy as np

In [ ]:
np.arange(1,19+1)

In [ ]:
np.arange(0,20,2)#even

In [ ]:
np.zeros(4)

In [ ]:
np.zeros((3,5))

In [ ]:
#linspace# return evenlly spaced number by specific interval

In [ ]:
np.linspace(0,10,3)

In [ ]:
np.linspace(0,10,50)

In [ ]:
# eyes is used for identity matrix

In [ ]:
import numpy as np
np.eye(4)

In [ ]:
import numpy as np
np.random.rand(20)

In [ ]:
arr = np.arange(25)
ranarr = np.random.randint(0,50,10)
arr

In [ ]:
ranarr

In [ ]:
#reshap is used for same datatype  25 bit size

In [ ]:
import numpy as np

In [ ]:
arr.reshape(5,5)

In [ ]:
arr.reshape(5,5)

In [ ]:
ranarr

In [ ]:
ranarr.max()

In [ ]:
ranarr.min()

In [ ]:
import numpy as np
ranarr=np.random.randint(0,20,5)
ranarr

In [ ]:
ranarr.max()

In [ ]:
ranarr.min()

In [ ]:
ranarr.argmax()

In [ ]:
ranarr.argmin()#show indx

In [ ]:
import numpy as np
ranarr=np.random.randint(0,7,4)
ranarr

In [ ]:
ranarr.max()

In [ ]:
ranarr.min()

In [ ]:
ranarr.argmax()

In [ ]:
ranarr.argmin()

In [ ]:
#numpy index and slection

In [ ]:
import numpy as np
x=np.arange(1,10)
x

In [ ]:
x[3]#index

In [ ]:
x[2:6]

In [ ]:
x[:2:4]

In [ ]:
x[3:]

In [ ]:
x[0:7]

# broadcasting in numpy

# #brodcasting in numpyWhat is broadcasting in NumPy?
Image result for numpy broadcasting
The term broadcasting describes how NumPy treats arrays with different shapes during arithmetic operations

In [ ]:
#Setting a value with index range (Broadcact
import numpy as np
arr=np.arange(1,40)
arr

In [ ]:
#Setting a value with index range (Broadcasting)
arr[0:7]=100
arr

# Slicing in python:
means extracting data from one given index to anothe given index, however, NumPy slicing is slightly different. Slicing can be done with the help of (:) . A NumPy array slicing object is constructed by giving start , stop , and step parameters to the built-in slicing function

In [ ]:
#Important notes on Slices we use for 6 index#
slice_of_arr[:][:]=6
slice_of_arr

# Indexing a 2D array (matrices)
The general format is arr_2d[row][col] or arr_2d[row,col]. I recommend usually using the comma notation for clarity.

In [ ]:
import numpy as np
arr_2d=np.array(([1,2,3,5],[5,6,7,8]))
arr_2d

In [ ]:
import numpy as np
x=np.array(([1,2,3],[4,5,6],[7,8,9]))
x

In [ ]:
x[1]

In [ ]:
# Format is arr_2d[row][col] or arr_2d[row,col]

# Getting individual element value
x[1][0]

In [ ]:
x[2][2]

In [ ]:
# 2D array slicing

#Shape (2,2) from top right corner
arr_2d[:2,1:]

In [ ]:
#Shape bottom row
arr_2d[1]

# Fancy Indexing

Fancy indexing allows you to select entire rows or columns out of order,to show this, let's quickly build out a numpy array:

In [ ]:
import numpy as np
x=np.zeros((2,7))
x

In [ ]:
#Length of array
arr_length = x.shape[1]
arr_length

In [ ]:
#Set up array
import numpy as np
x=np.zeros((10,10))
x
for i in range(arr_length):
    x[i] = i
    
x

In [ ]:
import numpy as np
arr_2d=np.zeros((7,7))
arr_2d

In [ ]:
arr_2d=[[2,3,4],[5,6,7],[8,9]]
arr_2d

In [ ]:
arr_2d[1]

In [ ]:
type(arr_2d)

# Selection
Let's briefly go over how to use brackets for selection based off of comparison operators.

In [ ]:
import numpy as np
array=np.arange(1,19)
array

In [ ]:
array >5

In [ ]:
bool_arr= array>5
bool_arr

In [ ]:
array[bool_arr]

In [ ]:
x=4
array[array>x]

# # NumPy Operations
##Arithmetic
You can easily perform array with array arithmetic, or scalar with array arithmetic. Let's see some examples:

import numpy as np
arr = np.arange(0,10)

In [ ]:
import numpy as np
arr=np.arange(1,6)
arr

In [ ]:
arr+arr

In [ ]:
arr*arr

In [ ]:
import numpy as np
arr=np.arange(1,10)
arr

In [ ]:
arr/arr

In [ ]:
1/arr

In [ ]:
arr**2

# Universal Array Functions
Numpy comes with many universal array functions, which are essentially just mathematical operations you can use to perform the operation across the array. Let's show some common ones:

In [ ]:
import numpy as np
arr=np.arange(1,5)
arr

In [ ]:
np.sqrt(arr)

In [ ]:
np.exp(arr)

In [ ]:
np.sin(arr)

In [ ]:
np.cos(arr)

In [ ]:
np.log(arr)

# Great Job!
That's all we need to know for now!

# Introduction to Pandas
In this section of the course we will learn how to use pandas for data analysis. You can think of pandas as an extremely powerful version of Excel, with a lot more features. In this section of the course, you should go through the notebooks in this order:

Introduction to Pandas
Series
DataFrames
Missing Data
GroupBy
Merging,Joining,and Concatenating
Operations
Data Input and Output
Dropping
Sort and rank

# Introduction

###### Pandas is an open source library built on top of NumPy

# It allows for fast analysis and data cleaning and preperation
#It excels in performance and productivity.
##It also has built-in visualization features.
##It can work with data from a wide variety of sources.

# Creating a Series

In [ ]:
import numpy as np
import pandas as pd
labels = ['a','b','c']
my_list = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10,'b':20,'c':30}

In [ ]:
ser=pd.Series(data=labels)
ser

In [ ]:
pd.Series(data=my_list,index=labels)

In [ ]:
import numpy as np
import pandas as pd
x=['e','r','q']
my_list=[30,20.10]
arr = np.array([10,20,30])
d={'a':10,'b':20,'c':30}
ser=pd.Series(data=x)
ser

In [ ]:
pd.Series(data=x)

# Data in a Series

A pandas Series can hold a variety of object types:

In [ ]:
pd.Series(data=x)

In [ ]:
# Even functions (although unlikely that you will use this)
pd.Series([sum,print,len])

# using an Index
The key to using a Series is understanding its index. Pandas makes use of these index names or numbers by allowing for fast look ups of information (works like a hash table or dictionary).

Let's see some examples of how to grab information from a Series. Let us create two sereis, ser1 and ser2:

In [ ]:
x=pd.Series([1,2,3,4],["pak",'ind','america','afg'])
x
y=pd.Series([6,7,8,9,2],["germani",'italy','usa','bangladesh','china'])
y
x

In [31]:
x['afg']

NameError: name 'x' is not defined

In [ ]:
x['pak']

In [ ]:
z=x+y
x,y

In [ ]:
z

In [ ]:
s_attr_methods = set(dir(pd.Series))
len(s_attr_methods)

# Calling Series Methods¶

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
sal=pd.read_csv("NorwayMeteoDataCompleted.csv")
sal

In [ ]:
sal.head()

# Introduction to Pandas

Create a Series from ndarray

Example: Create a pandas series with indexes from 100 to 103 containing data
[a,b,c,d] using pandas.Series()

In [36]:
import pandas as pd
import numpy as np
data=np.array(['a','b','c','d'])
s=pd.Series(data,index=[100,101,102,103])
s

100    a
101    b
102    c
103    d
dtype: object

In [37]:
import pandas as pd
import numpy as np
data={"a":10,"b":20}
s=pd.Series(data)
s

a    10
b    20
dtype: int64

# Introduction to Pandas

Create a Series from scaler

If data is a scalar value, an index must be provided. The value will be repeated to match the
length of index

In [38]:
import pandas as pd
import numpy as np
data=pd.Series(5,index=[1,3,4,5])
data

1    5
3    5
4    5
5    5
dtype: int64

In [40]:
import pandas as pd
import numpy as np
x=pd.Series(3,index=[1,2,3,4])
x

1    3
2    3
3    3
4    3
dtype: int64

# Accessing Data from Series

Example :Retrieve multiple elements using a list of index label values

In [49]:
import pandas as pd
import numpy as np
x=pd.Series([1,2,3,4],index=['a','b','c','d'])
x[["a",'b']]

a    1
b    2
dtype: int64

# Python Data Frame

A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular
fashion in rows and columns

Features of DataFrame

Potentially columns are of different types

Size – Mutable

Labeled axes (rows and columns)

Can Perform Arithmetic operations on rows and columns

# Creating DataFrame from Lists

In [62]:
import pandas as pd
import numpy as np
data=[['ihsan',10,'king'],['Sami',20,'guwalma'],["hamza",40,'commentking'],["amir",50,'akbar hafizsahab'],['sufyan',15,'yari']]
x=pd.DataFrame(data,columns=['name','age','pro'])
x

     name  age               pro
0   ihsan   10              king
1    Sami   20           guwalma
2   hamza   40       commentking
3    amir   50  akbar hafizsahab
4  sufyan   15              yari

In [81]:
import pandas as pd
import numpy as np
x=[['Uzair',13,'chaska'],['Talha',26,'bombari']]
y=pd.DataFrame(x,columns=['name','age','hjk'])
y

    name  age      hjk
0  Uzair   13   chaska
1  Talha   26  bombari

# Creating DataFrame from Dict of ndarrays / Lists

All the ndarrays must be of same length.

If index is passed, then the length of the index should equal to the length of the arrays

If no index is passed, then by default, index will be range(n), where n is the array length

In [90]:
import pandas as pd
import numpy as np
x= {'Name':['Monem','Adnan','Wahab'],'profession':['docter','Taylor','Commentator']}
df=pd.DataFrame(x,columns=["Name",'profession'])
df

    Name   profession
0  Monem       docter
1  Adnan       Taylor
2  Wahab  Commentator

# Creating a DataFrame from List of Dicts

In [106]:
import pandas as pd
import numpy as np
x=[{'a':12,'b':34,'c':46},{'a':35,'b':44}]
df=pd.DataFrame(x,index=['Rank1','rank2'],columns=['a', 'b','c'])
df

        a   b     c
Rank1  12  34  46.0
rank2  35  44   NaN

# Addition of Rows

Add new rows to a DataFrame using the append function

This function will append the rows at the end

In [113]:
import pandas as pd
import numpy as np
x=pd.DataFrame([[1,3],[4,7]],columns=['a','c'])
y=pd.DataFrame([[4,0],[3,6]],columns=['a','c'])
x=x.append(y)
x

   a  c
0  1  3
1  4  7
0  4  0
1  3  6

In [116]:
import pandas as pd
import numpy as np
x=pd.DataFrame([[1,3],[4,7]],columns=['a','c'])
y=pd.DataFrame([[4,0],[3,6]],columns=['a','c'])
x=x.append(y)
x=x.drop(1)
x

   a  c
0  1  3
0  4  0

# Series Basic Functionality

Sr.No.

Attribute or Method & Description

1

axes

Returns a list of the row axis labels

2

dtype

Returns the dtype of the object.

3

empty

Returns True if series is empty.

4

ndim

Returns the number of dimensions of the underlying data, by definition 1.

5

size

Returns the number of elements in the underlying data.

6

values

Returns the Series as ndarray.

7

head()

Returns the first n rows.

8

tail()

Returns the last n rows.

# Series Basic Functionality

Create a Series and see all the attributes operation

In [123]:
import pandas as pd
x=pd.Series(np.random.randn(4))
x

0    0.561461
1   -0.626878
2   -1.190826
3   -0.218577
dtype: float64

# Axes

Returns the list of the labels of the series

In [137]:
import pandas as pd
x=pd.Series(np.random.randn(4))
print("the axis are")
x.axes

the axis are

[RangeIndex(start=0, stop=4, step=1)]

# empty

Returns the Boolean value saying whether the Object is empty or not

True indicates that the object is empty

In [144]:
import pandas as pd
x=pd.Series(np.random.randn(4))
print("the ")
x
x.empty

the

False

# ndim

Returns the number of dimensions of the object. By definition, a Series is a 1D data structure, so
it returns

In [146]:
import pandas as pd
x=pd.Series(np.random.randn(9))
x

0   -1.777107
1   -0.279071
2   -0.445605
3   -0.084278
4    0.445712
5   -0.387663
6   -1.655145
7    0.158030
8   -0.018395
dtype: float64

In [147]:
print("")
x.ndim

1

# size

Returns the size(length) of the series

In [2]:
import pandas as pd
import numpy as np
x=pd.Series(np.random.randn(7))
x

0   -0.400681
1   -0.859754
2   -1.859419
3   -0.413457
4   -0.367043
5    0.489807
6    0.789731
dtype: float64

In [3]:
x.size

7

# values

Returns the actual data in the series as an array

In [5]:
import pandas as pd
import numpy as np
x=pd.Series(np.random.randn(6))
x

0    0.261136
1    0.462817
2    1.774258
3    2.369825
4   -1.232624
5    1.506217
dtype: float64

In [7]:
x.values

array([ 0.26113644,  0.4628169 ,  1.77425786,  2.36982548, -1.2326243 ,
        1.50621692])

# head and tail

To view a small sample of a Series or the DataFrame object, use the head() and the tail() methods.
head() returns the first n rows(observe the index values). The default number of elements to display is five,
but you may pass a custom number

In [8]:
import pandas as pd
import numpy as np
x=pd.Series(np.random.randn(39))
x

0     0.085810
1    -0.311131
2     0.589893
3     0.748455
4     0.316962
5     0.212915
6    -1.900011
7    -0.017164
8     1.171147
9    -0.485977
10    0.046824
11   -1.084310
12    1.049132
13    0.893605
14   -0.190604
15   -1.018718
16    0.102972
17    1.043360
18   -0.642997
19    1.038738
20   -0.859660
21   -0.629361
22   -1.011824
23    1.474254
24   -0.062354
25    0.946511
26   -0.116273
27    1.611611
28   -0.755853
29   -1.910822
30   -1.233340
31   -0.571142
32    0.895361
33   -0.726102
34    0.453638
35    0.052408
36    0.653929
37   -0.247942
38    0.466636
dtype: float64

In [10]:
x.head()# first five

0    0.085810
1   -0.311131
2    0.589893
3    0.748455
4    0.316962
dtype: float64

In [11]:
x.head(3)

0    0.085810
1   -0.311131
2    0.589893
dtype: float64

In [12]:
x.tail()# last 5

34    0.453638
35    0.052408
36    0.653929
37   -0.247942
38    0.466636
dtype: float64

# Data Frame Basic Functionality

Create a Series and see all the attributes operation

In [17]:
import pandas as pd
import numpy as np
d={ 'Name':pd.Series(['ihsan','Memory card','Amir','Zeeshan']),'age':pd.Series([20,21,22,23]),"rating":pd.Series([4.0,3.09,2.33,3.00])}
df=pd.DataFrame(d)
df

          Name  age  rating
0        ihsan   20    4.00
1  Memory card   21    3.09
2         Amir   22    2.33
3      Zeeshan   23    3.00

In [2]:
import pandas as pd
import numpy as np
x={'University':pd.Series(["ihsan",'memory card']),'section':(['Data science'])}
df=pd.DataFrame(x)
df

ValueError: array length 1 does not match index length 2