In [ ]:
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np

In [5]:
# step 1  : Getting the Data ready 
# step 2  : choosing ML model
# step 3  : fit model
# step 4  : Evaluate Model 
# step 5  : Improve Model
# step 6  : Saving the model
# step 7  : Load the model

In [6]:
# standard imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline  # show me here

UsageError: unrecognized arguments: # show me here

In [ ]:
df=pd.read_csv("tickets_data.csv")

In [7]:
df

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR ? DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU ? IXR ? BBI ? BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL ? LKO ? BOM ? COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU ? NAG ? BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR ? NAG ? DEL,16:50,21:35,4h 45m,1 stop,No info,13302
...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,9/04/2019,Kolkata,Banglore,CCU ? BLR,19:55,22:25,2h 30m,non-stop,No info,4107
10679,Air India,27/04/2019,Kolkata,Banglore,CCU ? BLR,20:45,23:20,2h 35m,non-stop,No info,4145
10680,Jet Airways,27/04/2019,Banglore,Delhi,BLR ? DEL,08:20,11:20,3h,non-stop,No info,7229
10681,Vistara,01/03/2019,Banglore,New Delhi,BLR ? DEL,11:30,14:10,2h 40m,non-stop,No info,12648
10682,Air India,9/05/2019,Delhi,Cochin,DEL ? GOI ? BOM ? COK,10:55,19:15,8h 20m,2 stops,No info,11753

In [8]:
df.dtypes

Airline            object
Date_of_Journey    object
Source             object
Destination        object
Route              object
Dep_Time           object
Arrival_Time       object
Duration           object
Total_Stops        object
Additional_Info    object
Price               int64
dtype: object

In [9]:
from sklearn.preprocessing import LabelEncoder

In [10]:
 encode =  LabelEncoder()

In [14]:
df['Airline'] = encode.fit_transform(df['Airline'])
df['Date_of_Journey'] = encode.fit_transform(df['Date_of_Journey'])
df['Source'] = encode.fit_transform(df["Source"])
df['Destination'] = encode.fit_transform(df['Destination'])
df['Route'] = encode.fit_transform(df['Route'])
df['Dep_Time'] = encode.fit_transform(df['Dep_Time'])
df['Arrival_Time'] = encode.fit_transform(df['Arrival_Time'])
df['Duration'] = encode.fit_transform(df['Duration'])
df['Total_Stops'] = encode.fit_transform(df['Total_Stops'])
df["Additional_Info"]=encode.fit_transform(df["Additional_Info"])

In [15]:
df

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,3,24,0,5,18,211,233,240,4,8,3897
1,1,6,3,0,84,31,906,336,1,8,7662
2,4,43,2,1,118,70,413,106,1,8,13882
3,3,10,3,0,91,164,1324,311,0,8,6218
4,3,0,0,5,29,149,1237,303,0,8,13302
...,...,...,...,...,...,...,...,...,...,...,...
10678,0,41,3,0,64,183,1259,236,4,8,4107
10679,1,29,3,0,64,193,1305,237,4,8,4145
10680,4,29,0,2,18,58,824,280,4,8,7229
10681,10,0,0,5,18,92,938,238,4,8,12648
10682,1,42,2,1,108,85,1124,347,1,8,11753

In [16]:
df.dtypes

Airline            int64
Date_of_Journey    int32
Source             int32
Destination        int32
Route              int32
Dep_Time           int32
Arrival_Time       int32
Duration           int32
Total_Stops        int32
Additional_Info    int32
Price              int64
dtype: object

In [18]:
from sklearn.ensemble import RandomForestRegressor
 
# to Repreduce same result for fellow ml scientist
np.random.seed(1)

#create data (x,y)
x = df.drop('Price',axis=1)
y = df['Price']

In [20]:
#split data into test train
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.7)

In [21]:
# regression model  model
reg_model = RandomForestRegressor()
reg_model.fit(x_train,y_train)

RandomForestRegressor()

In [23]:
y_pred =reg_model.predict(x_test)
y_pred

array([ 2775.01,  5827.91, 14108.7 , ...,  9463.18, 12093.87,  9736.86])

In [24]:
#check the score of the model
reg_model.score(x_test,y_test)

0.7920160342745003

In [25]:
##result is better not bad
# suppose we need better accuracy 
##follow these steps (https://scikit-learn.org/stable/tutorial/machine_learning_map/index.html)

# random forest regresssion
is used for collection oof else and if statement its give mean

In [30]:
from sklearn.ensemble import RandomForestRegressor
import numpy as np
from sklearn.model_selection import train_test_split
## to reproduce samee result fellow ML scientist
np.random.seed(1)
x=df.drop("Price",axis=1)
y=df["Price"]
## split train test model
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)
##  instaiate  REgression model_model=RandomForestRegressor()
rf_model=RandomForestRegressor()
rf_model.fit(x_train,y_train)
##  check score
rf_model.score(x_test,y_test)

0.8557286216780627

#  Make prediction on Regression Probelm

In [32]:
from sklearn.ensemble import RandomForestRegressor
np.random.seed(1)
## create data
x=df.drop("Price",axis=1)
y=df["Price"]  
## split train test
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20)
## instaite  model
Regression_model=RandomForestRegressor().fit(x_train,y_train)
## make prediction
predicted_y=Regression_model.predict(x_test)
predicted_y

array([ 2559.54      ,  5327.96133333, 14482.51      , ...,
       14011.62      ,  7014.62      ,  4883.28      ])

In [33]:
predicted_y[:5]    ## predicted vlue

array([ 2559.54      ,  5327.96133333, 14482.51      , 14495.14      ,
       10770.83      ])

In [34]:
np.array(y_test[:5])   ## actual vlue ground reality

array([ 2753,  6309, 13731, 13555, 10844], dtype=int64)

In [35]:
## compare predicted value with actual vlue
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test,predicted_y)

819.7696561167735

In [37]:
##819 (predictive values hamary target value se ya 819 greater hoge ya less hoge )
# jitna less ayega utna better hoga

In [38]:
# Regression use mean accuracy in score par..
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
 
#create data (x,y)
x = df.drop('Price',axis=1)
y =df['Price']

#split data into test train
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2)

# Instatiate Ridge model
RFC_model = RandomForestRegressor()
RFC_model.fit(x_train,y_train)

RFC_model.score(x_train,y_train) # shows the coeffiecient (R^2) accuracy
RFC_model.score(x_test,y_test) # can only run this after  fitting the model

0.8929894968094771

In [39]:
## random regrerssor give R2

In [40]:
# split the data in your choise (cv=5) data are split into 5 format 
# ye better hn sb sy q ke agar hum data ka 20% train aur test k liya daity hn aur hum ko score sahi nahi are q ke hum ny sirf last wala 20% diya hn aur farz kary us mn wo features clear nhi hn ju hamain chahyai 
# cv data ko split krta hn phr hum us ka mean find krty hn aur score se compare kary hn tu better result dega hamain

# Regression Model evaluation¶
Regression models help us understand how the change in one or more independent variables affects the dependent variable. The dependent variable, also known as the target or response variable, is the variable we want to predict or explain. The independent variables, also called features or predictors, are the inputs used to make the prediction and identifying the most important factors affecting the target variable.
1 : R^2 ## compare model predict to mean of target
2 : Mean Absolute Error (MAE)
Take diff , Turn Posit, Add up, Take mean
3 : Mean Squared Error (MSE)
Take diff , Square them, Add up, Take mean

In [42]:
from sklearn.ensemble import RandomForestRegressor
np.random.seed(1)
x=df.drop("Price",axis=1)
y=df["Price"]
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20)
RFG=RandomForestRegressor().fit(x_train,y_train)
RFG.score(x_test,y_test)

0.8557286216780627

#  2 : Mean Absolute Error (MAE)
#its gives avearge and absoule diiference bt predicted value and actual values

In [43]:
from sklearn.metrics import mean_absolute_error
y_predicted=RFG.predict(x_test)
MAE=mean_absolute_error(y_test,y_predicted)
MAE

819.7696561167735

In [44]:
df=pd.DataFrame(data={"actual values":y_test,"predicted value":y_predicted})

In [45]:
df["difference"]=df["actual values"]-df["predicted value"]

In [46]:
df

       actual values  predicted value   difference
7931            2753      2559.540000   193.460000
5468            6309      5327.961333   981.038667
8618           13731     14482.510000  -751.510000
3836           13555     14495.140000  -940.140000
7771           10844     10770.830000    73.170000
...              ...              ...          ...
4474            9581     12742.970000 -3161.970000
7367            3543      3687.670000  -144.670000
10357          14151     14011.620000   139.380000
1267            6795      7014.620000  -219.620000
5930            4804      4883.280000   -79.280000

[2137 rows x 3 columns]

In [47]:
# Mean Squared Error

In [48]:
## take difference  square  teem add them take averge its value is nakwwas

In [49]:
from sklearn.metrics import mean_squared_error
y_predicted=RFG.predict(x_test)
MAE=mean_squared_error(y_test,y_predicted)
MAE

3172113.0893359184

# scoring parameters for Regression