In [1]:
import pandas as pd

In [4]:
# Assuming 'unemployment_data.csv' is the name of your dataset file
df = pd.read_csv('Unemployment in Indiaa.csv')
df

,Region,Date,Frequency,Estimated Unemployment Rate,Estimated Employed,Estimated Labour Participation Rate (%),Area
0,Andhra Pradesh,31-05-2019,Monthly,3.65,11999139.0,43.24,Rural
1,Andhra Pradesh,30-06-2019,Monthly,3.05,11755881.0,42.05,Rural
2,Andhra Pradesh,31-07-2019,Monthly,3.75,12086707.0,43.50,Rural
3,Andhra Pradesh,31-08-2019,Monthly,3.32,12285693.0,43.97,Rural
4,Andhra Pradesh,30-09-2019,Monthly,5.17,12256762.0,44.68,Rural
...,...,...,...,...,...,...,...
749,West Bengal,29-02-2020,Monthly,7.55,10871168.0,44.09,Urban
750,West Bengal,31-03-2020,Monthly,6.67,10806105.0,43.34,Urban
751,West Bengal,30-04-2020,Monthly,15.63,9299466.0,41.20,Urban
752,West Bengal,31-05-2020,Monthly,15.22,9240903.0,40.67,Urban
753,West Bengal,30-06-2020,Monthly,9.86,9088931.0,37.57,Urban

In [5]:
# Check for missing values
print("Missing values before cleaning:")
print(df.isnull().sum())

# Remove or impute missing values
# For demonstration, we'll drop rows with missing values
df.dropna(inplace=True)

Missing values before cleaning:
Region                                      14
 Date                                       14
 Frequency                                  14
 Estimated Unemployment Rate                14
 Estimated Employed                         14
 Estimated Labour Participation Rate (%)    14
Area                                        14
dtype: int64

In [6]:
# Check data types
print("\nData types:")
print(df.dtypes)

Data types:
Region                                       object
 Date                                        object
 Frequency                                   object
 Estimated Unemployment Rate                float64
 Estimated Employed                         float64
 Estimated Labour Participation Rate (%)    float64
Area                                         object
dtype: object

In [12]:
# Convert 'Estimated Unemployment Rate', 'Estimated Employed', and 'Estimated Labour Participation Rate (%)' to integer
df[' Estimated Unemployment Rate '] = df[' Estimated Unemployment Rate '].astype(float).astype(int)

In [19]:
df.columns

Index(['Region', ' Date', ' Frequency', ' Estimated Unemployment Rate ',
       ' Estimated Employed', ' Estimated Labour Participation Rate (%)',
       'Area'],
      dtype='object')

In [21]:
# Convert all columns to integer type, handling non-integer values
for col in df.columns:
    df[col] = pd.to_numeric(df[col], errors='coerce')

# Convert NaN values to integer
df = df.fillna(0).astype(int)

# Print updated data types
print("\nUpdated Data types:")
print(df.dtypes)

Updated Data types:
Region                                      int32
 Date                                       int32
 Frequency                                  int32
 Estimated Unemployment Rate                int32
 Estimated Employed                         int32
 Estimated Labour Participation Rate (%)    int32
Area                                        int32
dtype: object

In [24]:
# Summary statistics
print("\nSummary statistics:")
df.describe()

Summary statistics:

,Region,Date,Frequency,Estimated Unemployment Rate,Estimated Employed,Estimated Labour Participation Rate (%),Area
count,740.0,740.0,740.0,740.000000,7.400000e+02,740.000000,740.0
mean,0.0,0.0,0.0,11.314865,7.204460e+06,42.143243,0.0
std,0.0,0.0,0.0,10.722079,8.087988e+06,8.130267,0.0
min,0.0,0.0,0.0,0.000000,4.942000e+04,13.000000,0.0
25%,0.0,0.0,0.0,4.000000,1.190404e+06,38.000000,0.0
50%,0.0,0.0,0.0,8.000000,4.744178e+06,41.000000,0.0
75%,0.0,0.0,0.0,15.000000,1.127549e+07,45.000000,0.0
max,0.0,0.0,0.0,76.000000,4.577751e+07,72.000000,0.0

In [26]:
import matplotlib.pyplot as plt
import seaborn as sns

plt.figure(figsize=(8, 6))
sns.histplot(df['Estimated Unemployment Rate'], bins=20, kde=True)
plt.title('Distribution of Estimated Unemployment Rate')
plt.xlabel('Estimated Unemployment Rate')
plt.ylabel('Frequency')
plt.show()

KeyError: 'Estimated Unemployment Rate'

In [35]:
import matplotlib.pyplot as plt
import seaborn as sns

# Assuming 'Estimated Employed' is the correct column name
plt.figure(figsize=(8, 6))
sns.histplot(df['Estimated Unemployment Rate'], bins=20, kde=True)

plt.title('Distribution of Estimated Employed')
plt.xlabel('Estimated Employed')
plt.ylabel('Frequency')
plt.show()

KeyError: 'Estimated Unemployment Rate'

In [30]:
df.columns

Index(['Region', ' Date', ' Frequency', ' Estimated Unemployment Rate ',
       ' Estimated Employed', ' Estimated Labour Participation Rate (%)',
       'Area'],
      dtype='object')